extends layout/layout

mixin actiepagina_slide(image, title, name, rating)
    .block
        .image(style="background-image: url('" + image + "')")
        .info
            .title= title
            .name= name
            ul.step_block
                li
                    span.step
                li
                    span.step
                li
                    span.step
                li.active
                    span.step
                li
                    span.step
                li
                    span.step
                li
                    span.step

        .user_rating
            .user_icon
                include ../resources/assets/images/svg/user_icon.svg
            .rating.no_event
                span.star.on(data-rating="1")
                span.star.on(data-rating="2")
                span.star.on(data-rating="3")
                span.star.on(data-rating="4")
                span.star.on(data-rating="5")
                input.rating-value(type="hidden" name="seller_rating" value= rating )

mixin panel-content(n)
    .tab-pane(role="tabpanel")
        .panel-content
            .content.nano
                .nano-content
                    .image
                    .title
                    .step_content
                    .tip
                    .example
                    .quote
        .action_block
            .prev_step
                a(href="#")
                    include ../resources/assets/images/svg/arrow.svg
            .btn_block
                a.main_button(href="#") ik heb deze stap volbracht!
            .next_step
                a(href="#")
                    include ../resources/assets/images/svg/arrow.svg

mixin nav-pill-li(n)
    li(role="presentation")
        a(data-toggle="tab" href="" role="tab" aria-controls="")
            .number= n
            .info
                .pill_title
                .pill_subtitle
            .check
                include ../resources/assets/images/svg/check-in.svg

block content
    #content.fase.fase-actiepagina
        #fase
            .container
                .row
                    .col-xs-12
                        .h1 Actiepagina

                .row
                    .col-xs-12
                        .steps_list
                            +actiepagina_slide('assets/images/image.png','Amersfoort',
                            'Anderen, Aa en Hunze', '2.56')


                .row
                    .col-xs-12
                        #steps_content_block
                            #nav-tab
                                ul.nav.nav-tabs
                                    li.active
                                        a(href="#nav-voorbereiden" data-toggle="tab" aria-expanded="true")
                                            .number 1
                                            .tab_title
                                            .check
                                                include ../resources/assets/images/svg/check-in.svg
                                    li.disabled
                                        a(href="#nav-invoeren" data-toggle="tab" aria-expanded="false")
                                            .number 2
                                            .tab_title
                                            .check
                                                include ../resources/assets/images/svg/check-in.svg

                                    li.disabled
                                        a(href="#nav-naleven-en-evalueren" data-toggle="tab" aria-expanded="false")
                                            .number 3
                                            .tab_title
                                            .check
                                                include ../resources/assets/images/svg/check-in.svg

                                .tab-content#nav-tab-content
                                    .tab-pane.active#nav-voorbereiden

                                        ul.nav.nav-pills(role="tablist")

                                        .tab-content

                                    .tab-pane#nav-invoeren
                                        ul.nav.nav-pills(role="tablist")


                                        .tab-content



                                    .tab-pane#nav-naleven-en-evalueren
                                        ul.nav.nav-pills(role="tablist")


                                        .tab-content



                        #statistics
                            .stat_block
                                .item
                                    .icon
                                        include ../resources/assets/images/svg/doc.svg
                                    .text 33
                                .item
                                    .icon
                                        include ../resources/assets/images/svg/users.svg
                                    .text 26
                                .item
                                    .icon
                                        include ../resources/assets/images/svg/euro.svg
                                    .text 200

                            .question_block
                                a(href="#") ?
                        template#template-nav-pill-li
                            +nav-pill-li(0)
                        template#template-panel-content
                            +panel-content(0)
