extends layout/layout

block content
    #content.fase.fase-actiepagina

        #icons_block
            .container
                .row
                    .title.col-xs-12 Rookvrij
                    .desc.col-xs-12 Via deze website kan je een speeltuin in 3 fases rookvrij maken.

                .row
                    .col-xs-12.col-md-4.fase_block
                        .icon.icon-voorbereiden(data-href="/actiepagina.html")
                            .check
                                include ../resources/assets/images/svg/check-in.svg
                            img(src='assets/images/fase/cooperate_.png')
                        .title_fase.text-center Voorbereiden
                        .desc_fase.text-center Een goede voorbereiding is het halve werk!
                    .col-xs-12.col-md-4.fase_block
                        .icon.icon-invoeren
                            .check
                                include ../resources/assets/images/svg/check-in.svg
                            img(src='assets/images/fase/check-list_.png')
                        .title_fase.text-center Invoeren
                        .desc_fase.text-center Het besluit is genomen: de speeltuin wordt rookvrij!
                    .col-xs-12.col-md-4.fase_block
                        .icon.icon-naleven
                            .check
                                include ../resources/assets/images/svg/check-in.svg
                            img(src='assets/images/fase/positivity_.png')
                        .title_fase.text-center Naleven
                        .desc_fase.text-center Wat gebeurt er als mensen tóch roken in de speeltuin?
                .row
                    .col-xs-12
                        a.main_button.join(href='donate.html') Ga direct aan de slag
