extends layout/layout

block content
    #content.fase.fase-actiepagina

        #icons_block
            .container
                .row
                    .title.col-xs-12 Rookvrij
                    .desc.col-xs-12 Je hebt getekend voor een rookvrije speeltuin, dat is een geweldige eerste stap! Hoe meer mensen tekenen voor een rookvrije speeltuin, hoe groter de kans dat het bestuur hiermee aan de slag gaat. Maar het gaat natuurlijk nog sneller wanneer je zelf in actie komt. Wij helpen je daarbij. In 3 stappen kun jij ervoor zorgen dat jouw speeltuin rookvrij wordt. Maak een actiepagina aan en ga direct met deze 3 stappen aan de slag.
                .row
                    .col-xs-12.col-md-4.fase_block
                        .icon.icon-voorbereiden(data-href="/actiepagina.html")
                            .check
                                include ../resources/assets/images/svg/check-in.svg
                            img(src='assets/images/fase/cooperate_.png')
                        .title_fase.text-center Voorbereiden
                        .desc_fase.text-center Een goede voorbereiding is het halve werk. Hoe meer mensen de speeltuin rookvrij willen hebben hoe beter. Het is een belangrijke stap om het onderwerp op de agenda van het bestuur te krijgen.
                    .col-xs-12.col-md-4.fase_block
                        .icon.icon-invoeren
                            .check
                                include ../resources/assets/images/svg/check-in.svg
                            img(src='assets/images/fase/check-list_.png')
                        .title_fase.text-center Invoeren
                        .desc_fase.text-center Dankzij jouw inzet is het besluit genomen: de speeltuin wordt rookvrij! Hoogste tijd om te bepalen wanneer dit gaat gebeuren. Ga samen met het bestuur aan de slag om iedereen over de nieuwe rookvrije afspraak te informeren. En….organiseer een feestje! 😊
                    .col-xs-12.col-md-4.fase_block
                        .icon.icon-naleven
                            .check
                                include ../resources/assets/images/svg/check-in.svg
                            img(src='assets/images/fase/positivity_.png')
                        .title_fase.text-center Naleven
                        .desc_fase.text-center Wat gebeurt er als mensen tóch roken in de speeltuin? Bepaal samen hoe je ervoor zorgt dat bezoekers zich aan de rookvrije afspraak houden.
                .row
                    .col-xs-12
                        a.main_button.join(href='actiepagina.html') Ga direct aan de slag
