.block-push-notifications(push-notifications)
    .template(hidden)
        a.close-notification.mdi.mdi-close(href="#")
            //img(src='assets/images/close.png')
        .icon
        span.text
    .inner