.menu
    //- add class '.anchor' to li a  on main page  (events, news,documents,posts)
    ul.nav.navbar-nav
        li
            a.active(href="/") Home
        li
            a(href="/#about" ) About
        li
            a(href="/#developers") Developers
        li
            a(href="/#contacts" ) Contacts
        li
            a.donor_button( data-toggle="modal" data-target="#payModal") Donate
