@import 'includes/vars';
@import 'includes/resetter';
@import 'includes/helpers';
@import 'includes/placeholders';
@import 'includes/third-party';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic');

@font-face {
  font-family: 'DKBlackBamboo';
  src: url(../fonts/dkBlackBamboo/DKBlackBamboo.ttf);
}
@font-face {
  font-family: 'GothamBook';
  src: url(../fonts/gothamBook/GothamBook.ttf);
}
// COMMON
@import 'includes/common';

// DEV PAGES
@import 'includes/dev-pages';

@import 'includes/notification';

html {
  // code
  //
  body{
    background: #fff;
    font-family: $bf;
  }

  .modal-backdrop{
    background:transparent;
  }
  .modal{
    background: rgba(0, 0, 0, 0.7);
    .close{
      text-align: center;
      padding: 15px 0;
      opacity: 1;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      right: 30px;
      top: 30px;
      background: #fff;
      svg{
        width: 16px;
        height: 16px;
        path{
          fill: $cb;
        }
      }
      &:hover, &:active, &:focus{
        background: $bc;
        svg{
          path{
            fill: #fff;
          }
        }
      }
    }
  }
  a, button, svg,
  .main_button,
  *:after, *:before,
  .clear,
  .hover{
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }
  .form-group{
    .form-control{
      font-size: 14px;
      font-weight: 500;
    }
    .text-error{
      //width: 100%;
      margin-bottom: 0;
      font-size: 12px;
      float: right;
      color: $sbc;
      font-weight: bold;
      text-align: right;
      visibility: hidden;
    }
    &.has-success{
      .text-error{
        visibility: hidden;
      }
    }
    &.has-error{
      .form-control{
        border: 1px solid $red!important;
      }
      .text-error{
        visibility: visible;
      }
    }
  }
  .col{
    padding-right: 15px;
    padding-left: 15px;
  }
  #content{

  }
  header{
    position: relative;
    padding: 20px 0;
    z-index: 1;
    box-shadow: 0 0 10px 4px #c6c6c6;
    .navbar-collapse{
      box-shadow: none;
      width: calc(100vw);
      left: 0;
      padding: 15px;
      background-size: cover;
      background-position: right -75px;
      top: 55px;
      z-index: 10;
      position: absolute;
      background: #fff;
      &.collapse{
        display: none!important;
        &.in{
          display: block!important;
        }
      }
      .menu{
        ul.nav{
          li{
            a.white_button{
              margin: 15px 15px 0;
              line-height: 1.5!important;
            }
            a.donor_button{
              margin: 30px 15px 0;
              line-height: 1.5!important;
            }
          }
        }
      }
    }
    .navbar-toggle{
      border-color: transparent;
      margin-top: 0;
      margin-bottom: 0;
      display: block;
      padding: 0;
      .icon-bar{
        background: #d0d0d0;
        width: 25px;
        height: 3px;
        & + .icon-bar{
          margin-top: 3px;
        }
      }
    }
    .navigation .menu ul.nav li a{
      display: inline-block;
    }
    .navigation{
      .menu{
        ul.nav{
          li{
            a{
              font-size: 14px;
              color: $tc;
              font-weight: 600;
              padding: 10px 0;
              margin: 0 20px;
              position: relative;
              &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 0;
                height: 2px;
                background: rgba(255,255,255,0.5);
                border-radius: 2px;
                opacity: 0;
              }
              &:hover, &:focus, &:active, &.active{
                background-color: transparent;
                &:before{
                  left: 0;
                  top: 100%;
                  opacity: 1;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .nano {
    & > .nano-pane {
      background: transparent;
      position: absolute;
      border: 0;
      padding: 0px;
      width: 8px;
      opacity: 1;
      & > .nano-slider{
        background: $bc;
        margin: 0;
        border-radius: 5px!important;
      }
      &:before{
        content: '';
        position: absolute;
        left: 3px;
        top: 1px;
        width: 1px;
        height: 100%;
        border-left: 1px solid #e7e7e7;
        border-radius: 3px;
      }
    }
    & > .nano-content{
      padding-right: 10px;
    }
  }
  #content{
    &.fase{
      #icons_block{
        .title{
          font-size: 40px;
          font-family: $sbf;
          margin: 70px auto 20px;
          text-align: center;
          color: $bc;
        }
        .desc{
          font-size: 16px;
          margin-bottom: 40px;
          text-align: center;
        }
        .fase_block{
          $icon_w: 180px;
          $img_w: 72px;
          padding-top: 15px;
          .icon{
            border-radius: 50%;
            width: $icon_w;
            height: $icon_w;
            margin: auto;
            text-align: center;
            padding: ($icon_w - $img_w)/2 0;
            position: relative;
            background-size: cover;
            background-position: center;
            box-shadow: $box-shadow;
            &.icon-voorbereiden{
              background-image: url($img_path + "/fase/texture_voorbereiden.png");
              svg{
                path{
                  fill: $sbc;
                }
              }
            }
            &.icon-invoeren{
              background-image: url($img_path + "/fase/texture_invoeren.png");
              svg{
                path{
                  fill: $red;
                }
              }
            }
            &.icon-naleven{
              background-image: url($img_path + "/fase/texture_naleven.png");
              svg{
                path{
                  fill: $bc;
                }
              }
            }
            & > img{
              height: 72px;
              width: 72px;
            }
            .check{
              width: 48px;
              height: 48px;
              position: absolute;
              top: 0;
              right: 0;
              background: #ffffff;
              border-radius: 50%;
              text-align: center;
              padding: 13px 0;
              box-shadow: $box-shadow;
              display: none;
              svg{
                width: 28px;
                height: 22px;
              }
            }
          }
          .title_fase{
            font-size: 30px;
            margin: 25px auto 15px;
            font-family: $sbf;
          }
          .desc_fase{
            font-size: 14px;
            margin-bottom: 20px;
          }
          &.check-in{
            .icon{
              .check{
                display: block;
              }
            }
          }
          &:hover{
            cursor: pointer;
            .icon{
              box-shadow: $box-shadow-hover;
            }
          }
        }
        .join{
          min-width: 350px;
          display: block;
          margin: 40px auto;
        }
      }
      #fase{
        .h1{
          font-size: 40px;
          font-family: $sbf;
          margin: 30px auto 20px;
          text-align: center;
          color: $bc;
        }
        .steps_list{
          box-shadow: $box-shadow;
          border-radius: 5px;
          overflow: hidden;
          margin-bottom: 20px;
          .block{
            width: 100%;
            display: table;
            border: 1px solid #f7f7f7;
            border-radius: 5px;
            & > *{
              padding: 10px 15px;
              vertical-align: top;
              display: table-cell;
              height: 120px;
            }
            .image{
              background-size: cover;
              background-position: center;
              width: 120px;
              height: 120px;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              border-right: 1px solid $cb;
            }
            .info{
              height: 50px;
              overflow: hidden;
              .title{
                font-size: 23px;
                font-family: $bf;
                margin: 0 auto 10px;
                text-align: left;
                color: $sbc;
                font-weight: bold;
              }
              .name{
                font-size: 13px;
              }
            }
            .user_rating{
              width: 120px;
              text-align: center;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              border-left: 1px solid $cb;
              vertical-align: middle;
              .user_icon{
                margin: 12px auto ;
                svg{
                  width: 30px;
                  height: 30px;
                  path{
                    fill: $sbc;
                  }
                }
              }
            }
          }
          ul.step_block{
            text-align: left;
            margin: 10px 0;
            padding: 0;
            li{
              height: 14px;
              width: 14px;
              padding: 0;
              display: inline-block;
              .step{
                height: 14px;
                width: 14px;
                padding: 0;
                position: relative;
                &:before{
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 14px;
                  width: 14px;
                  padding: 0;
                  content: '';
                  border: 2px solid #a7a7a7;
                  background: transparent;
                  border-radius: 50%;
                  opacity: 1;
                }
              }
              &.active{
                .step{
                  &:before{
                    background: $bc;
                    border: 2px solid transparent;
                  }
                }
              }
            }
          }
        }
        #steps_content {
          box-shadow: $box-shadow;
          border-radius: 7px;
          border: 1px solid $cb;
          overflow: hidden;
          .steps_content_pane {
            width: 100%;
            &.active {
              display: table;
            }
            .tab-list {
              display: table-cell;
              width: 31%;
              border-right: 1px solid $cb;
              vertical-align: top;
              & > .item {
                display: block;
                width: 100%;
                padding: 0;
                min-width: 325px;
                a {
                  border-radius: 0;
                  position: relative;
                  padding: 15px;
                  text-align: center;
                  width: 100%;
                  display: block;
                  &:focus {
                    outline: none;
                  }
                  &:before {
                    opacity: 0;
                    content: '';
                    width: 15px;
                    height: 15px;
                    border-bottom-left-radius: 3px;
                    behavior: url(-ms-transform.htc);
                    -moz-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    background: transparent;
                    -webkit-transition-delay: 0s;
                    -moz-transition-delay: 0s;
                    -o-transition-delay: 0s;
                    transition-delay: 0s;
                    transition: all 0s ease;
                    -webkit-transition: all 0s ease;
                    -moz-transition: all 0s ease;
                    -o-transition: all 0s ease;
                    position: absolute;
                    box-shadow: $box-shadow;
                    bottom: -7px;
                    left: calc(50% - 10px);
                  }
                  .number {
                    font-weight: bold;
                    color: $sbc;
                    font-size: 30px;
                  }
                  .tab_title {
                    color: $tc;
                    font-size: 14px;
                  }
                  .check {
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    padding: 1px 0;
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    border-radius: 50%;
                    background: $sbc;
                    display: none;
                    svg {
                      width: 12px;
                      height: 9px;
                      position: absolute;
                      top: 6px;
                      left: 4px;
                      path {
                        fill: #fff;
                      }
                    }
                  }
                }
                &.disabled {
                  position: relative;
                  a {
                    background: #f5f5f5;
                    border-color: transparent;
                    cursor: pointer;
                    border-bottom: 1px solid $cb;
                  }
                  & + .nav-pills{
                    padding: 0;
                    height: 0;
                    display: none;
                  }
                }
                &.done {
                  a {
                    background: #fff;
                    border-bottom: 1px solid $cb;
                    .check {
                      display: inline-block;
                    }
                  }

                  & + .nav-pills{
                    padding: 0;
                    height: 0;
                    display: none;
                  }
                }
                &.active {
                  a {
                    box-shadow: $box-shadow;
                    background: $bc;
                    .number,
                    .tab_title {
                      color: #fff;
                    }
                    .check {
                      background-color: $bc;
                    }
                    &:before {
                      background: $bc;
                      opacity: 1;
                      -webkit-transition-delay: 1.5s;
                      -moz-transition-delay: 1.5s;
                      -o-transition-delay: 1.5s;
                      transition-delay: 1.5s;
                      transition: 1s ease;
                      -webkit-transition: 1s ease;
                      -moz-transition: 1s ease;
                      -o-transition: 1s ease;
                    }
                  }
                  & + .nav-pills{
                    height: auto;
                    padding: 20px;
                    display: block;
                    border-bottom: 1px solid $cb;
                  }
                }
              }
              & > .nav-pills {
                padding: 0;
                height: 0;
                display: none;
                li {
                  margin-bottom: 10px;
                  width: 100%;
                  margin-left: 0;
                  min-height: 50px;
                  a {
                    width: 100%;
                    background-color: #fff;
                    display: table;
                    position: relative;
                    border-radius: 5px;
                    padding: 0;
                    border: 1px solid $cb;
                    min-height: 50px;
                    .info {
                      padding: 10px;
                      font-size: 13px;
                      display: table-cell;
                      height: 100%;
                      vertical-align: middle;
                      .pill_title {
                        font-weight: 600;
                        color: $tc;
                      }
                      .pill_subtitle {
                        color: $bc;
                        line-height: 1.3;
                      }
                    }
                    .number {
                      display: table-cell;
                      width: 50px;
                      height: 50px;
                      text-align: center;
                      vertical-align: middle;
                      font-weight: bold;
                      border-right: 1px solid $cb;
                      color: $sbc;
                      padding-bottom: 5px;
                      font-size: 18px;
                      padding-top: 10px;
                    }
                    .check {
                      display: none;
                      position: absolute;
                      top: 15px;
                      right: 10px;
                      width: 20px;
                      height: 20px;
                      background-color: $sbc;
                      border-radius: 50%;
                      text-align: center;
                      svg {
                        width: 12px;
                        height: 9px;
                        position: absolute;
                        top: 6px;
                        left: 4px;
                        path {
                          fill: #fff
                        }
                      }
                    }
                  }
                  &.disabled {
                    position: relative;
                    a {
                      border-color: transparent;
                      background: #f5f5f5;
                      .number {
                        border-right: 1px solid #fff;
                      }
                    }
                    &:after {
                      content: '';
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      left: 0;
                      top: 0;
                      cursor: not-allowed;
                    }
                  }

                  &.done {
                    a {
                      border: 1px solid #a6cffa;
                      background: #fff;
                      .number {
                        border-right: 1px solid #a6cffa;
                      }
                      .info {
                        padding-right: 30px;
                      }
                      .check {
                        display: inline-block;
                      }
                    }
                  }
                  &.viewed {
                    a {
                      border: 1px solid #a6cffa;
                      background: #fff;
                      .number {
                        border-right: 1px solid #a6cffa;
                      }
                      .info {
                        padding-right: 30px;
                      }
                      .check {
                        display: none;
                      }
                    }
                  }
                  &.active {
                    a {
                      border: 1px solid transparent;
                      background: $bc;
                      box-shadow: $box-shadow;
                      .number {
                        border-right: 1px solid rgba(166, 207, 250, 0.2);
                        color: #fff;
                      }
                      .check {
                        background-color: $bc;
                      }
                      .info {
                        .pill_title {
                          color: #fff;
                        }
                        .pill_subtitle {
                          color: #fff;
                        }
                      }
                    }
                  }
                }
              }
              & + .tab-content {
                display: table-cell;
                .tab-pane {
                  .panel-content {
                    padding: 10px 20px;
                    position: relative;
                    &:after {
                      content: '';
                      position: absolute;
                      width: 100%;
                      height: 10px;
                      box-shadow: 0px -5px 10px 0px rgba(98, 98, 98, 0.1) inset;
                      bottom: 0;
                      left: 0;
                    }
                    .content {
                      height: 435px;
                      overflow: hidden;
                      img {
                        height: 200px;
                        width: auto;
                        max-width: 100%;
                        margin-bottom: 15px;
                        border-radius: 5px;
                      }
                      .title {
                        font-family: $sbf;
                        font-size: 28px;
                        color: $red;
                        margin-bottom: 10px;
                      }
                    }
                  }
                  .action_block {
                    display: table;
                    width: 100%;
                    border-top: 1px solid $cb;
                    .prev_step,
                    .next_step,
                    .btn_block {
                      display: table-cell;
                      vertical-align: middle;
                      text-align: center;
                    }
                    .prev_step,
                    .next_step {
                      padding: 20px;
                      width: 45px;
                      a {
                        width: 45px;
                        height: 45px;
                        display: inline-block;
                        padding: 12px 0;
                        border-radius: 3px;
                        background-color: #fff;
                        border: 1px solid $cb;
                        text-align: center;
                        svg {
                          width: 9px;
                          height: 20px;
                          path {
                            fill: $bc
                          }
                        }
                        &:hover {
                          border-color: transparent;
                          background: $bc;
                          svg {
                            path {
                              fill: #fff;
                            }
                          }
                        }
                      }
                    }
                    .next_step {
                      a {
                        svg {
                          behavior: url(-ms-transform.htc);
                          -moz-transform: rotate(180deg);
                          -webkit-transform: rotate(180deg);
                          -o-transform: rotate(180deg);
                          -ms-transform: rotate(180deg);
                          transform: rotate(180deg);
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          & + #statistics {
            margin-top: 20px;
          }
        }
        #statistics{
          .stat_block{
            border: 1px solid $cb;
            width: calc(100% - 70px);
            display: inline-block;
            border-radius: 5px;
            box-shadow: $box-shadow;
            .item{
              float: left;
              width: 33.33333%;
              padding: 11px 20px;
              vertical-align: middle;
              position: relative;
              .icon{
                display: inline-block;
                height: 26px;
                vertical-align: middle;
                svg{
                  height: 26px;
                  width: 24px;
                  path{
                    fill: $sbc;
                  }
                }
              }
              .text{
                display: inline-block;
                font-weight: 600;
                vertical-align: middle;
                padding: 4px 10px 0;
                height: auto;
              }
              a{
                border: 0!important;
                background: transparent!important;
                padding: 0!important;
                margin: 0!important;
                color: $ptc;
              }
              &:first-child{
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
              }
              &:last-child{
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
              }
              &:not(:last-child){
                border-right: 1px solid $cb;
              }
              &:hover{
                background: #f5f4f4;
              }
              &.active{
                background: $sbc;
                border-color: transparent;
                color: #fff;
                &:before{
                  content: '';
                  width: 15px;
                  height: 15px;
                  border-bottom-left-radius: 3px;
                  behavior: url(-ms-transform.htc);
                  -webkit-transform: rotate(135deg);
                  transform: rotate(135deg);
                  background: transparent;
                  -webkit-transition-delay: 0s;
                  transition-delay: 0s;
                  transition: all 0s ease;
                  -webkit-transition: all 0s ease;
                  -moz-transition: all 0s ease;
                  -o-transition: all 0s ease;
                  position: absolute;
                  -webkit-box-shadow: 0px 5px 10px 0px rgba(98,98,98,0.1);
                  box-shadow: 0px 5px 10px 0px rgba(98,98,98,0.1);
                  top: -7px;
                  left: calc(50% - 10px);
                  background: $sbc;
                }
                a{
                  color: #fff;
                }
                .text{
                  color: #fff;
                }
                .icon{
                  path{
                    fill: #fff;
                  }
                }
              }
            }
          }
          .question_block{
            float: right;
            width: 50px;
            a{
              width: 50px;
              height: 50px;
              display: inline-block;
              padding: 15px 0;
              border-radius: 3px;
              background-color: $bc;
              text-align: center;
              color: #ffffff;
              font-size: 14px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .rating{
    position: relative;
    .star{
      width: 13px;
      height: 12px;
      display: inline-block;
      background-size: contain;
      &.off{
        background-image: url($img_path + "/stars/star_off.png");
      }
      &:hover{
        background-image: url($img_path + "/stars/star_on.png");
        cursor: pointer;
      }
      &.on{
        background-image: url($img_path + "/stars/star_on.png");
      }
    }
    &.no_event{
      &:after{
        content: '';
        position: absolute;
        left: 0%;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  template#template-nav-pill-li,
  template#template-panel-content{
    display: none;
  }
  footer{
    margin-top: 30px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  #donate{
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    min-height: 675px;
    border: 1px solid #e7e7e7;
    .tab-content {
      height: 100%;
      .tab-pane {
        .header {
          .desc {
            color: #626262;
            line-height: 1.5;
            font-weight: 600;
            p {
              color: inherit;
              line-height: inherit;
              font-size: 16px;
              margin-bottom: 0;
              font-weight: inherit;
            }
          }
          .tab_icon{
            $icon_w: 165px;
            $img_w: 65px;
            $img_h: 72px;
            border-radius: 50%;
            width: $icon_w;
            height: $icon_w;
            margin: 0;
            text-align: center;
            padding: ($icon_w - $img_w)/2 0;
            position: relative;
            background-size: cover;
            background-position: center;
            background-image: url($img_path + "/texture_tab_doc.png");
            box-shadow: $box-shadow;
            & > svg{
              width: $img_w;
              height: $img_h;
              path{
                fill: #fff;
              }
            }
            .check {
              width: 60px;
              height: 60px;
              position: absolute;
              //top: calc(50% - 30px);
              //left: calc(98% - 30px);
              background: #ffffff;
              border-radius: 50%;
              text-align: center;
              padding: 15px 0;
              box-shadow: $box-shadow;
              font-size: 24px;
              font-family: Arial;
              font-weight: bold;
              color: $sbc;
              svg {
                width: 28px;
                height: 22px;
                path {
                  fill: $sbc;
                }
              }
            }
          }
        }
        .content{
          .title{
            font-size: 30px;
            font-family: $sbf;
            margin: 5px 0;
            text-align: left;
            color: #626262;
            text-transform: uppercase;
          }
          .input-group{
            width: 100%;
            .form-control{
              border-color: #a1a1a1!important;
              border-radius: 3px;
              font-weight: 600;
              box-shadow: none;
              height: 42px;
              &:not([value=""]):not(:focus){
                background-color: #f5f4f4;
              }
              &:focus{
                outline: none;
              }
              &:not(:last-child) {

                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
            }
            .input-group-addon{
              background: transparent;
              border-color: #a1a1a1!important;
              svg{
                width: 16px;
                height: 16px;
                path{
                  fill: $sbc;
                }
              }
              & + .form-control{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
              }
            }
          }
        }
        &#steps_content{
          border: 0!important;
          box-shadow: none!important;
          .tab-content{
            .tab-pane{
              .panel-content{
                .content{
                  height: 565px!important;
                }
              }
            }
          }
        }
        &#doc {
          .header {
            border-bottom: 1px solid #e7e7e7;
            padding: 27px 25px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background: #fcfcfc;
            table{
              width: 100%;
              tr{
                td{
                  .desc {
                    color: #626262;
                    line-height: 1.5;
                    p {
                      color: inherit;
                      line-height: inherit;
                      font-size: 16px;
                      margin-bottom: 0;
                      font-weight: 500;
                    }
                  }
                  .tab_icon{
                    .check {
                      top: calc(50% - 30px);
                      left: calc(98% - 30px);
                    }
                  }
                }
              }
            }
          }
          .content{
            table{
              width: 100%;
              tr{
                &:not(:last-child){
                  border-bottom: 1px solid #e7e7e7;
                }
                td{
                  padding: 25px;
                  vertical-align: top;
                  &:not(:last-child){
                    border-right: 1px solid #e7e7e7;
                  }
                  .share{
                    &.share_soc {
                      .btn-block {
                        .checkbox {
                          width: calc(33.33333% - 19px);
                          margin: 15px 15px 15px 0;
                          position: relative;
                          padding: 0;
                          display: inline-block;
                          label {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            input {
                              display: none;
                              & + .cr {
                                display: none;
                                width: 20px;
                                height: 20px;
                                background: $sbc;
                                border-radius: 50%;
                                text-align: center;
                                padding: 1px 0;
                                position: absolute;
                                bottom: calc(100% - 10px);
                                left: calc(100% - 10px);
                                .cr-icon {
                                  line-height: 0;
                                  display: inline-block;
                                  svg {
                                    width: 11px;
                                    height: 10px;
                                    path {
                                      fill: #fff;
                                    }
                                  }
                                }
                                & + span {
                                  padding: 5px 10px;
                                  border-radius: 5px;
                                  display: inline-block;
                                  width: 100%;
                                  span {
                                    display: inline-block;
                                    color: #fff;
                                    font-weight: bold;
                                    font-size: 13px;
                                    vertical-align: middle;
                                    padding-left: 10px;
                                  }
                                  img {
                                    width: 32px;
                                    height: 32px;
                                    display: inline-block;
                                    vertical-align: middle;
                                  }
                                  &.facebook {
                                    background: #3b5998;
                                  }
                                  &.twitter {
                                    background: #58adee;
                                  }
                                  &.google {
                                    background: #dd4b39;
                                  }
                                }
                              }
                              &:checked + .cr {
                                display: block;
                              }
                            }
                            &:hover {
                              input {
                                & + .cr {
                                  & + span {
                                    box-shadow: $box-shadow;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                    &.share_link{
                      .input_block{
                        display: inline-block;
                        vertical-align: top;
                        margin: 15px 10px 15px 0;
                        max-width: 320px;
                        width: calc(100% - 120px);
                        .input-group{
                          .input-group-addon{
                          }
                          input{
                            height: 42px;
                          }
                        }
                      }
                      .main_button{
                        max-width: 100px;
                        display: inline-block;
                        vertical-align: top;
                        margin: 15px 10px 15px 0;
                        padding: 9px;
                      }
                    }
                    &.share_email{
                      .input_block{
                        display: inline-block;
                        vertical-align: top;
                        margin: 15px 10px 15px 0;
                        max-width: 480px;
                        width: calc(100% - 160px);
                        .input-group{
                          width: 100%;
                          input{
                            height: 44px;
                          }
                        }
                      }
                      .main_button{
                        max-width: 140px;
                        display: inline-block;
                        vertical-align: top;
                        margin: 15px 10px 15px 0;
                        padding: 10px;
                      }
                    }
                  }
                }
                &:first-child{
                  td{
                    width: 50%;
                  }
                }
              }
            }
          }
          .footer{
            padding: 25px;
            text-align: center;
            box-shadow: 0px 0px 10px 0px rgba(98, 98, 98, 0.1);
            border-top: 1px solid #e7e7e7;
          }
        }
        &#users{
          & > table{
            min-height: 675px;
            tr{
              td{
                vertical-align: top;
                &:first-child{
                  width: 33.333%;
                  height: 100%;
                  border-right: 1px solid #e7e7e7;
                }
              }
            }
            .header{
              width: 100%;
              text-align: center;
              padding: 18px 25px;
              .tab_icon{
                margin: 0 auto 120px;
                display: block;
                .check{
                  left: calc(50% - 30px);
                  bottom: -90px;
                }
              }
            }
            .content{
              .chat{
                input,
                textarea,
                [contenteditable] {
                  caret-color: #da335a;
                  &:focus{
                    outline: none;
                  }
                }
                .chat_header{
                  padding: 20px 25px;
                  border-bottom: 1px solid #e7e7e7;
                  & > table{
                    width: 100%;
                    tr{
                      td{
                        border: 0;
                        width: 50%;
                        vertical-align: middle;
                        &:last-child{
                          text-align: right;
                        }
                      }
                    }
                  }
                  .title{
                    line-height: 0.8;
                    margin: 7px 0 0 0;
                  }
                  .input_block{
                    width: 240px;
                    float: right;
                    .input-group{
                      .form-control{
                        height: 33px;
                      }
                      .input-group-addon{
                        padding: 3px 10px;
                        button{
                          padding: 0!important;
                          border: 0!important;
                          margin: 0;
                          svg{
                            width: 17px;
                            height: 17px;
                            position: relative;
                            top: 3px;
                            path{
                              fill: $bc;
                            }
                          }
                          &:hover{
                            background: transparent;
                            path{
                              fill: #da335a;
                            }
                          }
                        }
                      }
                    }
                  }
                }
                .chat-content {
                  padding: 0;
                  height: 500px;
                  width: 100%;
                  background-size: cover;
                  background-position: center top;
                  overflow: hidden;
                  background: #fcfcfc;
                  .content {
                    padding-right: 25px;
                    margin-top: 100%;
                    .typing{
                      position:relative;
                      text-align: left;
                      width:150px;
                      margin: 10px;
                      .typing_text{
                        margin: 0 5px 0 0;
                        font-size: 12px;
                        font-weight: bold;
                      }
                      svg{
                        width: 16px;
                        height: 14px;
                        vertical-align: middle;
                        path{
                          fill: #9ca6af;
                        }
                      }
                      .dot {
                        display:inline-block;
                        width:3px;
                        height:3px;
                        border-radius:50%;
                        margin-right:3px;
                        background: $ptc;
                        animation: wave 1.3s linear infinite;

                        &:nth-child(4) {
                          animation-delay: -1.1s;
                        }

                        &:nth-child(5) {
                          animation-delay: -0.9s;
                        }
                      }
                    }

                    @keyframes wave {
                      0%, 60%, 100% {
                        transform: initial;
                      }

                      30% {
                        transform: translateY(-5px);
                      }
                    }
                    &.nano {
                      padding-right: 0;
                      .nano-content{
                        margin-right: -25px!important;
                      }
                      & > .nano-pane {
                        opacity: 0;
                      }
                    }
                    .message_count {
                      position: relative;
                      span{
                        display: block;
                        margin: 10px auto;
                        background: #ffffff;
                        border-radius: 40px;
                        width: 150px;
                        z-index:  1;
                        position: relative;
                        padding: 10px;
                        span{
                          display: block;
                          margin: 0;
                          border: 1px solid #e7e7e7;
                          background: #fff;
                          border-radius: 30px;
                          padding: 4px;
                          text-align: center;
                          font-size: 13px;
                          color: $tc;
                          z-index: 3;
                          position: relative;
                          width: 100%;
                          font-weight: 600;
                        }
                      }
                      &:before{
                        content: '';
                        border: 0;
                        border-top: dotted 1px #a7a7a7 ;
                        font-size: 2px;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        z-index: 1;
                      }
                    }
                    .message_content {
                      padding: 0 15px;
                      .message {
                        max-width: 100%;
                        padding: 5px 5px 5px 40px;
                        position: relative;
                        margin: 5px 10px;
                        border-radius: 5px;
                        display: inline-block;
                        min-height: 30px;
                        .message_avatar{
                          width: 35px;
                          height: 40px;
                          position: absolute;
                          top: 0;
                          left:0;
                          .image {
                            width: 35px;
                            height: 35px;
                            background-position: center;
                            background-size: cover;
                            border-radius: 50%;
                          }
                        }
                        .message_text {
                          color: #fff;
                          font-size: 13px;
                          line-height: 1.3;
                          position: relative;
                          padding: 7px 10px;
                          background: $bc;
                          font-weight: 600;
                          border-radius: 15px;
                          border-top-left-radius: 3px;
                          margin: 5px 0 10px
                        }
                        .message_time {
                          color: $ptc;
                          font-size: 13px;
                          font-weight: 500;
                          display: inline-block;
                          margin: 0 30px;
                          position: relative;
                          &:before{
                            content: '●';
                            position: absolute;
                            left: -20px;
                          }
                        }
                        .message_name {
                          bottom: 5px;
                          right: 5px;
                          color: $bc;
                          font-size: 13px;
                          font-weight: 700;
                          display: inline-block;
                        }
                        .message_info {
                          width: 100%;
                          & > div{
                            margin: 0 5px 5px;
                          }
                          &.joined{
                            .message_text{
                              background: transparent;
                              color: $ptc;
                              font-weight: 600;
                              display: inline-block;
                              .message_name{
                                margin-left: 5px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }

                .send_message{
                  width: 100%;
                  display: inline-block;
                  padding: 20px 25px;
                  vertical-align: top;
                  position: relative;
                  box-shadow: 0px 0px 10px 0px rgba(98, 98, 98, 0.1);
                  border-top: 1px solid #e7e7e7;
                  form {
                    position: relative;
                    .send {
                      background: #fff;
                      border: none;
                      box-shadow: none;
                      display: table-cell;
                      position: absolute;
                      padding: 0 10px;
                      height: 58px;
                      right: 1px;
                      top: 1px;
                      border-radius: 3px;
                      width: 60px;
                      vertical-align: top;
                      opacity: 0.5;
                      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                      filter: grayscale(100%);
                      &:hover, &:focus, &:active, &.active {
                        opacity: 1;
                        outline: none;
                        -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
                        filter: grayscale(0);
                      }
                    }
                    .text_container {
                      height: 60px;
                      resize: none;
                      border-radius: 3px;
                      display: table-cell;
                      vertical-align: top;
                      width: 100%;
                      overflow: hidden;
                      padding: 20px 60px 20px 20px;
                      border: 1px solid #a1a1a1;
                      &::-webkit-input-placeholder{
                        color: $ptc;
                        font: inherit;
                        font-weight: 600;
                      }
                      &::-moz-placeholder{
                        color: $ptc;
                        font: inherit;
                        font-weight: 600;
                      }
                      &:-moz-placeholder{
                        color: $ptc;
                        font: inherit;
                        font-weight: 600;
                      }
                      &:-ms-input-placeholder {
                        color: $ptc;
                        font: inherit;
                        font-weight: 600;
                      }
                      &:focus {
                        border: 1px solid #a1a1a1;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &#euro{
          position: relative;
          .header{
            height: 120px;
            padding-left: 130px;
            width: 100%;
            position: relative;
            border-bottom: 1px solid #e7e7e7;
            .desc{
              font-size: 36px;
              line-height: 1;
              color: $sbc;
              padding: 42px 0;
            }
            .tab_icon{
              position: absolute;
              left: 0;
              top: 0;
              border-radius: 0;
              width: 120px;
              height: 120px;
              background-size: 150%;
              padding: 24px 0;
              text-align: center;
            }
          }
          .content{
            table{
              width: 100%;
              tr{
                &:not(:last-child){
                  border-bottom: 1px solid #e7e7e7;
                }
                &:first-child{
                  td{
                    width: 50%;
                  }
                }
                &.admin{
                  opacity: 0;
                  height: 410px;
                }
                td{
                  padding: 20px 25px;
                  vertical-align: top;
                  &:not(:last-child){
                    border-right: 1px solid #e7e7e7;
                  }
                  .main_button{
                    margin: 5px 0 0;
                    max-width: 200px;
                    &.ideal{
                      max-width: 240px;
                      background: #fff;
                      border: 1px solid #eb621b;
                      position: relative;
                      padding: 13px 0 13px 50px;
                      color: $ptc;
                      span{
                        &.icon{
                          position: absolute;
                          width: 50px;
                          text-align: center;
                          height: 100%;
                          padding: 13px 0;
                          top:0;
                          left: 0;
                          background: #eb621b;
                          svg{
                            width: 25px;
                            height: 22px;
                            path{
                              fill: #fff;
                            }
                          }
                        }
                      }
                    }
                  }
                  .tab_icon{
                    $icon_w: 120px;
                    $img_w: 45px;
                    $img_h: 43px;
                    border-radius: 50%;
                    width: $icon_w;
                    height: $icon_w;
                    margin: 80px auto 20px;
                    text-align: center;
                    padding: ($icon_w - $img_w)/2 0;
                    position: relative;
                    background: $sbc;
                    box-shadow: $box-shadow;
                    & > svg{
                      width: $img_w;
                      height: $img_h;
                      path{
                        fill: #fff;
                      }
                    }
                  }
                  .desc {
                    color: #626262;
                    line-height: 1.5;
                    font-weight: 600;
                    max-width: 350px;
                    margin: auto;
                    text-align: center;
                    p {
                      color: inherit;
                      line-height: inherit;
                      font-size: 16px;
                      margin-bottom: 0;
                      font-weight: inherit;
                    }
                    span{
                      color: $sbc;
                    }
                  }
                }
              }
            }
            &.admin{
              table{
                tr{
                  &:first-child{
                    td{
                      &:first-child{
                        width: 100%;
                        text-align: center;
                        .title{
                          text-align: center;
                        }
                      }
                      &:last-child{
                        width: 0%;
                        display: none;
                      }
                    }
                  }
                  &.admin{
                    opacity: 1;
                  }
                }
              }
              & + .footer{
                opacity: 0;
              }
            }
          }
          .footer{
            position: absolute;
            bottom: 0;
            left: 0;
            background: #f7f4dd;
            width: 100%;
            padding: 50px;
            box-shadow: 0px 0px 10px 0px rgba(98, 98, 98, 0.1);
            border-top: 1px solid #e7e7e7;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            p{
              font-weight: 600;
              font-size: 16px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  @media (max-width: 375px){

  }
  @media (max-width: 425px){

  }
  @media (min-width: 425px) and (max-width: 767px){

  }
  @media (max-width: 767px){

  }
  @media (min-width: 768px){

  }
  @media (min-width: 1200px){
    .container {
      width: 1054px;
    }
  }
}
